.content{
  position: relative;
}
.content-wrapper{  position: relative;
  left: 15%;
  width: 85%;
}

h1{
  color: #23235d;
  padding: 18px 0;
  font-size: 45px;
}

#welcomeText{
  font-size: 20px;
}
