<meta charset="utf-8">

<div class="content">
  <div class="content-wrapper">
    <h1>{{title}}</h1>
    <br>
    <p id="welcomeText">

      Das digitale Zuhause ist ein Service Ihrer Verwaltung. Es bietet Ihnen die Möglichkeit, Ihre persönliche Daten im Blick zu behalten und diese einfach und online für Behörden freizugeben.
      <br><br>

      Über den Punkt "Mein Profil" bekommen Sie Zugang zu:
      <br><br>
      👉 Ihrem Profil: Einer Übersicht aller Daten, welche das digitale Zuhause bereithält<br>
      👉 Ihren Aufträgen: Einer Übersicht, welche alle aktiven und bereits beendeten Verwaltungsvorgängen anzeigt und die ausgetauschten Daten transparent auflistet.<br>
      👉 Wenn der Datenaustausch nicht auf einer gesetzlichen grundlage basiert, können Sie hier entscheiden, ob Sie dem Austausch zustimmen oder diesen ablehnen.<br>
      <br>

      Über den Punk "Verknüpfte Profile" erhalten Sie zu den selben Funktionen wie in Ihrem eigenen Profil. Dies gilt für:
      <br><br>
      👨‍👩 Eigene Kinder, für die eine Sorgeberechtigung besteht<br>
      👨‍👩 Zu pflegende Personen, für die eine Handlungsvollmacht besteht
      <br> <br>



  </div>
</div>


