<meta charset="utf-8">

<div class="content">
  <div class="content-wrapper">
    <h1>{{title}}</h1>
    <br>
    <p id="welcomeText">
      Das Digitale Zuhause ist ein Service Ihrer Verwaltung. Mit dem Digitalen Zuhause nehmen Sie an der digitalen Transformation der Bundesrepublik Deutschland teil
        <br>
        <br>
      Das Digitale Zuhause bietet Ihnen folgende Funktionen:
      <br>
      <br>
         👉  All ihre Daten<br>
        👨‍👩‍ Daten ihrer Familienmitglieder<br>
        👶   Wichtige Anträge für die Familie<br>
        ✝   Aktualisierung Ihrer Familie von zu Hause aus<br>

  </div>
</div>


