<meta charset="utf-8">
<div class="contentwrap">
<div class="content">
  <h1>Vorgänge von {{title}}</h1>
  <p id="infoText">Hier sehen Sie sämtliche Vorgänge, welche von Ihnen Autorisiert werden müssen.</p>
    <div class="wrap">
      <div class="row">
        <div class="col-sm-3 p-3 black" style="width: 18rem;" *ngFor="let i of data">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Vorgang: {{i.id}}</h5>
              <p class="card-text">{{i.name}}</p>
              <a class="btn btn-primary" (click)="goToDecision($event, i.id)">Vorgang bearbeiten</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
