.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%
}

#impressum, #dsgvo, #support, .division{
  text-decoration: none;
  display: inline-block;
  color: #23235d;
  padding: 18px;
  font-size: 15px;
}

#impressum:hover, #dsgvo:hover, #support:hover{
  color: #5b6b7a;
  text-decoration-line: underline;
  text-decoration-color: #890313;
}

/* Style der Horizontalen Linie */
hr{
  position: fixed;
  bottom: 2.6em;
  width: 100%;
  border: 1px solid #5b6b7a;
}
