<meta charset="utf-8">

<div class="decisionTransfer">
  <h2>Datenaustausch</h2><br>
  <div class="content">
    <p>
      <label for="gettingAuth">Anfragende Behörde:</label><br>
      <input id="gettingAuth" disabled>
    </p>
    <p>
      <label for="sendingAuth">Sendende Behörde:</label><br>
      <input id="sendingAuth" disabled>
    </p>
  </div>
  <div class="decisionButton">
    <button type="button" class="button" id="alwaysAccept" (click)="decision($event, 'YES')" [disabled]="permission === 'YES'"><span>Immer genehmigen</span></button>
    <button type="button" class="button" id="acceptOnce" (click)="decision($event, 'ONETIME')" [disabled]="permission === 'ONETIME'"><span>Einmalig genehmigen</span></button>
    <button type="button" class="button" id="alwaysDecline" (click)="decision($event, 'NO')" [disabled]="permission === 'NO'"><span>Immer ablehnen</span></button>
  </div>
  <button type="button" class="button-back" (click)="goBack($event)"><span>zurück</span></button>
</div>
