.profile-information{
  position: relative;
  left: 15%;
  width: 85%;
}

.personal-information,
.login-information{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.personal-information input,
.login-information input{
  border: none;
  border-bottom: 2px solid #5C6971;
  outline: none;
}

.button, .button-back{
  width: 200px;
  margin-top: 20px;
  background-color: #464694;
  color: white;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
}

.button-back{
  background-color: #23235d;
}

.button:hover, .button-back:hover{
  background-color: #5b6b7a;
}


h2{
  margin-top: 30px;
  color: #23235d;
  font-size: 28px;
}

.personal-information label,
.login-information label{
  font-size: 20px;
}

