<meta charset="utf-8">

<!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Titel der Anwendung -->
      <span class="header"><a id="homepage" (click)="goToHomepage($event)">{{title}}</a></span>

      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkMyProfil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mein Profil
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item"  (click)="goToProfil($event)">Meine Daten</a></li>
                <li><a class="dropdown-item"  (click)="goToTasks($event)">Meine Aufträge</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLinkConnectedProfils" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Verknüpfte Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" (click)="goToLinkedProfil($event)">Max Sommer</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>

      <!-- Logout -->
      <a id="logout" (click)="logOut($event)">
        <!-- Logout Button -->
        <p>Abmelden</p>
      </a>
    </nav>

<hr>
